body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    padding: 80px 0;
}

.hero-title {
    font-size: 48px;
    font-weight: 500;
}

.hero-title span {
    color: #0066FF;
}

.hero-text {
    color: #555;
    font-size: 16px;
    width: 80%;
}
      
.hero-car img {
    width: 100%;
    height: auto;
}


.section1_bottom{
    margin-top: -10px;
    padding: 10px;
    box-shadow: 0px 6px 12px 0px #135EAC1F;
    border: none;
    border-radius: 12px;
    background-color: white;
}

.search{
  background-color: #0066FF;
  color: black;
  border-color: var(--primary-color);
  padding: 8px 50px 8px 50px;
  border-radius: 8px;
}

@media (max-width: 435px) {
  .search{
    display: none;
  }
}

.p_date, .r_date{
border-left: 2px solid #135EAC1F;
}

.img_location, .img_calender{
  padding-left: 20px;
}

.nav-link {
    color: #000 !important;
    font-weight: 500;
}

.sign-in-btn {
    background: #0066FF;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 500;
}

.how_btn{
  color: rgba(21, 114, 211, 1);
  background-color: rgba(21, 114, 211, 0.1);
  border: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.how_btn h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 12px;
}

.how_title{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  color: black;
}

.step-box p{
  color: rgba(109, 109, 109, 1);
  font-weight: bold;
}

.sec3_div1 img{
  width: 100%;
  height: auto;
  margin-top: 140px;
  margin-bottom: 140px;
  margin-left: -118px;
}

.sec3_div2 h6{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.sec3_div3{
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.div3-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
}


.div3-icon{
  margin-top: 0px;
  margin-left: -12px;
}


.div3-text h3 {
  color: black;
  margin: 0 0 6px 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.div3-text, .div3-text p {
  margin: 0;
  color: #555;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 420;
}

@media (max-width: 410px) {
  .sec3_div1 img{
  width: 100%;
  height: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  margin-left: -12px;
}
  
}

.deals-title{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  color: black; 
}

.star-img{
  margin-top: -3px;
}

span{
  font-weight: 700;
}

small{
  color: rgba(128, 128, 128, 1);
}

.user-img{
  margin-top: 9px;
}

.user-img img{
  margin-top: -3px;
}

.line{
  color:rgb(129, 128, 128);
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.price span {
    font-weight: 600;
    color: black;
}    

.card1-btn{
    margin-top: -1.5px;
    background: #0066FF;
    padding: 8px 79px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 500; 
}

.card1{
    border-radius: 16px;
    box-shadow: 0 0 20px 4px rgba(8, 0, 20, 0.1);
    transition: 0.4s ease;
    cursor: pointer;
}

.card1:hover{
  transition: 0.4s ease;
  transform: scale(1.05);
}

.card2-btn{
    margin-top: 10px;
    background: #0066FF;
    padding: 8px 79px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 500; 
}

.card2{
    border-radius: 16px;
    box-shadow: 0 0 20px 4px rgba(8, 0, 20, 0.1);
    transition: 0.4s ease;
    cursor: pointer;
}


.card2:hover{
  transition: 0.4s ease;
  transform: scale(1.05);
}

.card3-btn{
    margin-top: 10px;
    background: #0066FF;
    padding: 8px 79px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 500; 
}

.card3{
    border-radius: 16px;
    box-shadow: 0 0 20px 4px rgba(8, 0, 20, 0.1);
    transition: 0.4s ease;
    cursor: pointer;
}

.card3:hover{
  transition: 0.4s ease;
  transform: scale(1.05);
}

.card4-btn{
    margin-top: 12.7px;
    background: #0066FF;
    padding: 8px 79px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 500; 
}

.card4{
    border-radius: 16px;
    box-shadow: 0 0 20px 4px rgba(8, 0, 20, 0.1);
    transition: 0.4s ease;
    cursor: pointer;
}

.card4:hover{
  transition: 0.4s ease;
  transform: scale(1.05);
}

.testimonials-section {
    background: #F6FAFF;
    font-family: 'Poppins', sans-serif;
    padding: 80px 0;
}

.testi-title {
    font-size: 30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    color: black;
}


.section5 {
  width: 100%;
  box-shadow: 0 0 20px 4px rgba(8, 0, 20, 0.1);
}

.review-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.review-image img {
  width: 260px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.review-content {
  max-width: 500px;
}

.rating-title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 0;
}

.star{
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}

.stars img {
  margin-right: 4px;
}

.review-text {
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
  line-height: 1.6;
  color: #555;
}

.reviewer-name {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 1rem;
  font-weight: 700;
}

.reviewer-location {
  margin: 0.3rem 0 0;
  color: #777;
}

@media (max-width: 768px) {
  .review-section {
    flex-direction: column;
    text-align: center;
  }

  .review-image img {
    width: 180px;
  }

  .stars img {
    width: 80px;
  }
}

.download-section {
    background: #F6FAFF;
    padding-top: 80px;  
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif;
}

.download-badge {
    background: rgba(21, 114, 211, 0.1);
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
}

.download-badge h1{
  font-size: 15px;
  color: #0066FF;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.download-title {
    font-size: 38px;
    font-weight: 700;
    color: #111;
    line-height: 1.3;
}

.text-blue {
    color: #0087FF;
}

.download-subtitle {
    color: #6d7a8a;
    font-size: 15px;
}

.store-btn {
    width: 160px;
    cursor: pointer;
}

.phone-img {
    width: 90%;
    max-width: 450px;
}


.footer-section {
    background: #051C34;
    color: #dbe4ef;
    font-family: 'Poppins', sans-serif;
}

.footer-title {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
}


.footer-info li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-info li p {
    margin: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links li a {
    color: #dbe4ef;
    font-size: 14px;
    text-decoration: none;
}

.footer-links li a:hover {
    opacity: 0.6;
}

.footer-info li {
    margin-bottom: 30px;
    font-size: 14px;
}

.footer-line {
    border-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

.copyright-text {
    color: #cdd6e1;
    font-size: 13px;
}