body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    padding: 80px;
    border-bottom: 1px solid #666;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
}

.hero-title span {
    color: #0066FF;
}

.hero-text {
    color: #555;
    font-size: 16px;
    width: 80%;
}
      
.hero-car img {
    width: 100%;
    height: auto;
}


.section1_bottom{
    margin-top: 10px;
    /* margin-bottom: 200px; */
    padding: 10px;
    box-shadow: 0px 6px 12px 0px #135EAC1F;
    border: none;
    border-radius: 12px;
    background-color: white;
}

.search{
  background-color: #0066FF;
  color: black;
  border-color: var(--primary-color);
  padding: 8px 50px 8px 50px;
  border-radius: 8px;
}



.p_date, .r_date{
border-left: 2px solid #135EAC1F;
}

.img_location, .img_calender{
  padding-left: 20px;
}

.nav-link {
    color: #000 !important;
    font-weight: 500;
}

.sign-in-btn {
    background: #0066FF;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff !important;
    font-weight: 500;
}

@media (max-width: 580px) {
  .section1_bottom{
    display: none;
  }
}

@media (max-width: 580px) {
  .hero-car img{
    width: 400px;
    margin-top: 80px;
    margin-left: -50px;
    margin-bottom: 0px;
  }
}

.how-section{
  border-bottom: 1px solid lightslategrey;
}

.how_btn{
  color: rgba(21, 114, 211, 1);
  background-color: rgba(21, 114, 211, 0.1);
  border: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.how_btn h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 12px;
}

.how_title{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  color: black;
}

.step-box p{
  color: rgba(109, 109, 109, 1);
  font-weight: bold;
}

.footer-section {
    background: #051C34;
    color: #dbe4ef;
    font-family: 'Poppins', sans-serif;
}

.footer-title {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
}


.footer-info li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-info li p {
    margin: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links li a {
    color: #dbe4ef;
    font-size: 14px;
    text-decoration: none;
}

.footer-links li a:hover {
    opacity: 0.6;
}

.footer-info li {
    margin-bottom: 30px;
    font-size: 14px;
}

.footer-line {
    border-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

.copyright-text {
    color: #cdd6e1;
    font-size: 13px;
}

.download-section {
    background: #F6FAFF;
    padding-top: 80px;  
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif;
}

.download-badge {
    background: rgba(21, 114, 211, 0.1);
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
}

.download-badge h1{
  font-size: 15px;
  color: #0066FF;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.download-title {
    font-size: 38px;
    font-weight: 700;
    color: #111;
    line-height: 1.3;
}

.text-blue {
    color: #0087FF;
}

.download-subtitle {
    color: #6d7a8a;
    font-size: 15px;
}

.store-btn {
    width: 160px;
    cursor: pointer;
}

.phone-img {
    width: 90%;
    max-width: 450px;
}

.testimonials-section {
    background: #F6FAFF;
    font-family: 'Poppins', sans-serif;
    padding: 80px 0px;
    border-bottom: 1px solid grey;
}

.testi-title {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    color: black;
}

.testi-card {
    background: #ffffff;
    border: none;
    border-radius: 16px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.08);
    overflow: hidden;
    transition: 0.3s ease;
    text-align: left;
}

.testi-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.deals-section{
  border-bottom: 1px solid lightslategrey;
}

.deals-title{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  color: black; 
}